<?xml version="1.0" encoding="utf-8"?>
<Content Key="abc3767f-eeea-445a-aa96-fe29cacd6622" Alias="Register/Login" Level="2">
  <Info>
    <Parent Key="ca4249ed-2b23-4337-b522-63cabe5587d1">Home</Parent>
    <Path>/Home/RegisterLogin</Path>
    <Trashed>false</Trashed>
    <ContentType>login</ContentType>
    <CreateDate>2026-04-23T22:21:06</CreateDate>
    <NodeName Default="Register/Login" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ff3cbc8e-cb57-49e1-8c6f-aa06196d293f">Login</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <keywords>
      <Value><![CDATA[]]></Value>
    </keywords>
    <pageTitle>
      <Value><![CDATA[Register or login]]></Value>
    </pageTitle>
    <seoMetaDescription>
      <Value><![CDATA[]]></Value>
    </seoMetaDescription>
    <umbracoNavihide>
      <Value><![CDATA[0]]></Value>
    </umbracoNavihide>
  </Properties>
</Content>